.content-product {
  padding: 0 var(--space-lg);
  .hero-slider {
    .slide {
      background-color: black;
      img {
        aspect-ratio: 1339 / 753;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .header,
  .label {
    font-size: var(--text-lg);
  }
  .header {
    padding: var(--space-md) 0;

    h1 {
      text-align: center;
    }
    .price {
      text-align: right;
    }
    .atc-wrapper {
      text-align: center;
      padding: var(--space-md) 0;
    }
    .slider-pager,
    .price {
      line-height: 1;
    }
  }
  .body {
    padding: 0 0 var(--space-lg);
    .text {
      padding-top: toRem(12);
    }
  }

  @media all and (max-width: $md) {
    padding: 0 var(--space-md);
    .text-lg,
    .header,
    .label {
      font-size: var(--text-md);
    }
    .header {
      .price {
        text-align: center;
        margin-top: 0.5em;
      }
    }
  }
}
