header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: var(--space-md) var(--space-lg);
  z-index: 50;
  transition: transform 0.2s var(--cubic), opacity 0.2s var(--cubic);
  color: white;
  mix-blend-mode: difference;
  &.is-down {
    transform: translateY(-100%);
    opacity: 0;
  }

  #nav-primary {
    margin-bottom: var(--space-md);
    font-family: var(--font-sans);
    font-size: var(--text-sm);
  }
  #nav-publishers {
    font-size: var(--text-lg);
    ul {
      justify-content: center;
    }
    li:not(:last-child):after {
      content: "/";
      display: inline-block;
      padding: 0 0.5em;
    }
  }
  @media all and (max-width: $md) {
    padding: var(--space-sm);
  }
}
