header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: var(--space-md) var(--space-lg);
  z-index: 50;
  transition: transform 0.2s var(--cubic), opacity 0.2s var(--cubic);
  color: white;
  mix-blend-mode: difference;
  &:has(.search.is-open) {
    mix-blend-mode: initial;
    color: black;
  }
  &.scroll--down {
    transform: translateY(-100%);
    opacity: 0;
  }

  #nav-primary {
    margin-bottom: var(--space-md);
    font-family: var(--font-sans);
    font-size: var(--text-sm);
  }
  #nav-publishers {
    font-size: var(--text-lg);
    ul {
      justify-content: center;
    }
    li:not(:last-child):after {
      content: "/";
      display: inline-block;
      padding: 0 0.5em;
    }
  }

  .header-mobile {
    display: none;
  }
  @media all and (max-width: $md) {
    padding: 0 var(--space-md);
    mix-blend-mode: initial;
    color: black;
    background-color: white;
    .header-mobile {
      display: block;
      border-bottom: var(--border);
      padding: var(--space-md) 0;
    }
    .header-desktop {
      display: none;
    }
    .overlay {
      display: none;
      position: fixed;
      left: 0;
      top: var(--header-height);
      width: 100%;
      height: calc(var(--vh) * 100 - var(--header-height));
      overflow-y: auto;
      background-color: white;
      padding: 0 var(--space-md);
      &.is-open {
        display: block;
      }
      #nav-publishers {
        font-size: var(--text-md);
      }
    }
  }
}
